* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Robot", sans-serif;
}

body {
    background: #8A51FC;
}

.logo {
    width: 150px;
    margin: auto;
    display: block;
}

main {
    background: #F4F4F4;
    border-radius: 20px;
    border: 1px solid rgba(187, 187, 187, 1);
    padding: 34px 14px 13px;
    width: 340px;
    margin: auto;
}

main * {
    margin: auto;
    display: block;
    text-align: center;
}

select {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgba(187, 187, 187, 1);
    appearance: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 18px;
    margin-top: 6px;
}

input {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgba(187, 187, 187, 1);
    appearance: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 18px;
    display: flex;
    text-align: left;
}

label  {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(119, 119, 119, 1);
    text-align: left;
    display: inline;
}

b {
    text-align: left;
    display: inline;
}

option {
    text-align: left;
}

input::placeholder {
    text-align: left;
     color: rgba(85, 85, 85, 1);
}

.valor {
    text-align: left;
    margin-top: 14px;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #772FD3;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 13px;
}

article {
    border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 7px;
    margin-top: 26px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.arrow {
    margin-top: 5px;
}

.usa {
    margin-top: 5px;
}